<div class="bg-light-green">

  <%= render "admin/breadcrumb", domain: "students" %>
  <p id="notice"><%= notice %></p>

  <h1>Students</h1>

  <table>
    <thead>
      <tr>
        <th>Pphone</th>
        <th>Pemail</th>
        <th>Pwechat</th>
        <th>Pqq</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Age</th>
        <th>Birthday</th>
        <th>Gender</th>
        <th>City</th>
        <th>Schoolname</th>
        <th>Schoolstatus</th>
        <th>Level</th>
        <th>Time</th>
        <th>Estimate</th>
        <th>Expectation</th>
        <th>Paragraph</th>
        <th>Dailyreading</th>
        <th>Penglishlevel</th>
        <th>Custody</th>
        <th>Way</th>
        <th>Reason</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @students.each do |student| %>
        <tr>
          <td><%= student.pphone %></td>
          <td><%= student.pemail %></td>
          <td><%= student.pwechat %></td>
          <td><%= student.pqq %></td>
          <td><%= student.firstname %></td>
          <td><%= student.lastname %></td>
          <td><%= student.age %></td>
          <td><%= student.birthday %></td>
          <td><%= student.gender %></td>
          <td><%= student.city %></td>
          <td><%= student.schoolname %></td>
          <td><%= student.schoolstatus %></td>
          <td><%= student.level %></td>
          <td><%= student.time %></td>
          <td><%= student.estimate %></td>
          <td><%= student.expectation %></td>
          <td><%= student.paragraph %></td>
          <td><%= student.dailyreading %></td>
          <td><%= student.penglishlevel %></td>
          <td><%= student.custody %></td>
          <td><%= student.way %></td>
          <td><%= student.reason %></td>
          <td><%= link_to 'Show', student %></td>
          <td><%= link_to 'Edit', edit_student_path(student) %></td>
          <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Student', new_student_path %>
</div>