<p id="notice"><%= notice %></p>

<p>
  <strong>Pphone:</strong>
  <%= @student.pphone %>
</p>

<p>
  <strong>Pemail:</strong>
  <%= @student.pemail %>
</p>

<p>
  <strong>Pwechat:</strong>
  <%= @student.pwechat %>
</p>

<p>
  <strong>Pqq:</strong>
  <%= @student.pqq %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @student.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @student.lastname %>
</p>

<p>
  <strong>Age:</strong>
  <%= @student.age %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @student.birthday %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @student.gender %>
</p>

<p>
  <strong>City:</strong>
  <%= @student.city %>
</p>

<p>
  <strong>Schoolname:</strong>
  <%= @student.schoolname %>
</p>

<p>
  <strong>Schoolstatus:</strong>
  <%= @student.schoolstatus %>
</p>

<p>
  <strong>Level:</strong>
  <%= @student.level %>
</p>

<p>
  <strong>Time:</strong>
  <%= @student.time %>
</p>

<p>
  <strong>Estimate:</strong>
  <%= @student.estimate %>
</p>

<p>
  <strong>Expectation:</strong>
  <%= @student.expectation %>
</p>

<p>
  <strong>Paragraph:</strong>
  <%= @student.paragraph %>
</p>

<p>
  <strong>Dailyreading:</strong>
  <%= @student.dailyreading %>
</p>

<p>
  <strong>Penglishlevel:</strong>
  <%= @student.penglishlevel %>
</p>

<p>
  <strong>Custody:</strong>
  <%= @student.custody %>
</p>

<p>
  <strong>Way:</strong>
  <%= @student.way %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @student.reason %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
