<div class="page-min-height">
  <div style="background-color: #fbc02d; padding: 10px 0px 13px 0px;">
    <div class="container">
      <div class="row no-margin">
        <div class="col s12">
          <h5 class="white-text" style="font-weight: 500;">Welcome, <%= @teacher.fullname %></h5>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <br>
    <br>
    <div class="row">
      <div class="col s12">
        <ul class="tabs">
          <li class="tab col s3"><a href="#courses">课程</a></li>
          <li class="tab col s3"><a href="#students">学生</a></li>
          <li class="tab col s3"><a href="#books">绘本</a></li>
          <li class="tab col s3"><a href="#test4">Test 4</a></li>
        </ul>
      </div>
      <div id="courses" class="col s12">
        <br>
        <div id="calendar" style="height: 800px;"></div>
        <br>
        <div class="row">
          <div class="col m12">
            <% if @courses.size == 0 %>
              <h4>当前没有课程，请联系教导处添加你的课程</h4>
            <% elsif %>
              <% @courses.each do |course| %>
                <%= link_to course_manage_teacher_path(@teacher, course_id: course) do %>
                  <div class="card">
                    <div class="card-content black-text">
                      <span class="card-title cyan-text"><b><%= course.name %></b></span>
                      <p>授课老师: <%= @teacher.fullname %></p>
                      <p>课程级别: <%= course.level %></p>
                      <p>当前学生数量: <%= course.students.size %>/<%= course.capacity %></p>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div id="students" class="col s12">
        <br>
        <%= render "teachers/students", teacher: @teacher, courses: @courses, students: @students, report: @report %>
      </div>
      <div id="books" class="col s12">
        <br>
        <%= render "teachers/books", books: @books %>
        <div>
          <img src="/test.jpg" style='height: 100%; width: 100%; object-fit: contain' oncontextmenu="return false;" />
        </div>
      </div>
      <div id="test4" class="col s12">Test 4</div>
    </div>
  </div>

  <div style="background: url(/test.jpg) no-repeat center #eee;background-size:100%;"></div>
  <br>
  <br>
</div>

<script>
  $(document).ready(function() {
    var elems = document.querySelectorAll('.tabs');
    var instance = M.Tabs.init(elems, {});
  });

  $(document).ready(function() {
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems, {
      opacity: 0.6,
    });
  });

  var Calendar = tui.Calendar;
  var calendar = new Calendar('#calendar', {
    defaultView: 'month',
    taskView: true,
    template: {
      monthGridHeader: function(model) {
        var date = new Date(model.date);
        var template = '<span class="tui-full-calendar-weekday-grid-date">' + date.getDate() + '</span>';
        return template;
      }
    }
  });
</script>