<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @teacher.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @teacher.lastname %>
</p>

<p>
  <strong>Englishname:</strong>
  <%= @teacher.englishname %>
</p>

<p>
  <strong>Age:</strong>
  <%= @teacher.age %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @teacher.birthday %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @teacher.gender %>
</p>

<p>
  <strong>City:</strong>
  <%= @teacher.city %>
</p>

<p>
  <strong>Work:</strong>
  <%= @teacher.work %>
</p>

<p>
  <strong>Education:</strong>
  <%= @teacher.education %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @teacher.experience %>
</p>

<p>
  <strong>Otherexperience:</strong>
  <%= @teacher.otherexperience %>
</p>

<p>
  <strong>Profour:</strong>
  <%= @teacher.profour %>
</p>

<p>
  <strong>Proeight:</strong>
  <%= @teacher.proeight %>
</p>

<p>
  <strong>Levelsix:</strong>
  <%= @teacher.levelsix %>
</p>

<p>
  <strong>Other:</strong>
  <%= @teacher.other %>
</p>

<p>
  <strong>Honor:</strong>
  <%= @teacher.honor %>
</p>

<p>
  <strong>Interaction:</strong>
  <%= @teacher.interaction %>
</p>

<p>
  <strong>Like:</strong>
  <%= @teacher.like %>
</p>

<p>
  <strong>Availabletime:</strong>
  <%= @teacher.availabletime %>
</p>

<p>
  <strong>Audio:</strong>
  <%= @teacher.audio %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @teacher.comments %>
</p>

<p>
  <strong>Resume:</strong>
  <%= @teacher.resume %>
</p>

<p>
  <strong>User:</strong>
  <%= @teacher.user %>
</p>

<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
