<div class="page-min-height">
  <div style="background-color: #fbc02d; padding: 10px 0px 13px 0px;">
    <div class="container">
      <div class="row no-margin">
        <div class="col s12">
          <h5 class="white-text" style="font-weight: 500;"> <%= link_to "返回", me_teacher_path(@teacher), style: "color: white;" %> > <span style="color: #eeeeee;">课程反馈表</span></h5>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <br>
    <div class="row">
      <div class="col m12">
        <h5><b>学生: <%= @student.fullname %></b></h5>
      </div>
    </div>
    
    <div class="row">
      <div class="col m12">
        <% if @reports.size > 0%>
          <table>
            <thead>
              <tr>
                <th>课程回馈表</th>
                <th>上课时间</th>
                <th>学生英文名</th>
                <th>学生年龄</th>
                <th>课程</th>
                <th colspan="2"></th>
              </tr>
            </thead>

            <tbody>
              <% @reports.each_with_index do |report, index| %>
                <tr>
                  <td>第<%= index + 1 %>次</td>
                  <td><%= report.course_date %></td>
                  <td><%= @student.englishname %></td>
                  <td><%= @student.age %></td>
                  <td><%= @course.name %></td>
                  <td><%= link_to '编辑课程回馈表', edit_report_path(report, course_id: @course, student_id: @student, teacher_id: @teacher), class: 'btn' %></td>
                  <td><%= link_to '删除', report, method: :delete, data: { confirm: '你确认要删除嘛?' }, class: "btn red" %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          <div class="row">
            <div class="col m12">
              <div class="card">
                <div class="card-content black-text">
                  <span class="card-title cyan-text center"><b>当前学生数量为0</b></span>
                </div>
              </div>
            </div>
          </div>
        <% end %>

      </div>
    </div>

  </div>
</div>